.panel{
    height: 45px;
    width: 100%;
    display: flex;
    background-color: #7C7C7C;
    color: white;
    align-items: center;
    /* justify-content: space-evenly; */
}

.panel-ops p{
    font-weight: 600;
    display: inline;
    justify-content: space-evenly;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.9rem;
}
.panel-all{
    font-weight: 600;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-bg{
    background-image: url("menu.png");
    background-size: cover;
    height: 25px;
    width: 25px;
}